@tailwind base;
@tailwind components;
@tailwind utilities;


.mole-box {
    width: 400px; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .mole-img {
    width: 150px;
    height: 150px;
  }